In [258]:
#single line comment in python is a hashtag before it

In [259]:
"""
this 
is
you
multi line
commenting

anything in betewen those 3 quotations is a comment not a code cell


"""

'\nthis \nis\nyou\nmulti line\ncommenting\n\nanything in betewen those 3 quotations is a comment not a code cell\n\n\n'

import pandas as pd

# to make this the markdown, on dropdown, just select the markdown

In [261]:
"""
to run your code in notebook

ctrl + enter, it runs the code and keeps the cursor where it was

shift + enter, it runs the code and goes to the next code cell


"""

'\nto run your code in notebook\n\nctrl + enter, it runs the code and keeps the cursor where it was\n\nshift + enter, it runs the code and goes to the next code cell\n\n\n'

# how to print

In [263]:
planet = "earth" # planet is a variable that is holding the string value
diameter = 12742 # diameter is a variable that is holding an integer value

In [264]:
diameter

12742

In [265]:
print(diameter)

12742

In [266]:
type(diameter)

int

In [267]:
type(planet)

str

In [268]:
planet

'earth'

In [269]:
print(planet)

earth

In [270]:
# first way of printing


print("the diameter of {variable1} is {variable2}".format(variable1 = planet, variable2 = diameter))

the diameter of earth is 12742

In [271]:
# second way of printing
# after() start your sentence with double quotes then add(+) the variable and 
# continue your sentence the following way

print("the diameter of " + planet + " is " + str(diameter))

the diameter of earth is 12742

In [272]:
# thid way of printing
# f-string
# don't have to add teh + with the f at the beginning of the string


print(f"the diameter of {planet} is {diameter}")

the diameter of earth is 12742

# Data types

In [274]:
"""
numerical: int, float
boolean: bool           True False
set: set                set() {} {set cannot have duplicates} {sets only contain the 
                          values, not the keys}
string/text: str        str() '' ""
tuple: tuple            tuple() ()
list: list              list()  [] known as array in other programs
dictionary: dict        dict()  {"key":"value"}


some notes:
sets cannot have dulplications
tuple cannot be mutatued
list can contain mix data types and can be mutated
dictionary is also called key-value pair, or in javascript, its is called object
json is another key-value pair example
"""

'\nnumerical: int, float\nboolean: bool           True False\nset: set                set() {} {set cannot have duplicates} {sets only contain the \n                          values, not the keys}\nstring/text: str        str() \'\' ""\ntuple: tuple            tuple() ()\nlist: list              list()  [] known as array in other programs\ndictionary: dict        dict()  {"key":"value"}\n\n\nsome notes:\nsets cannot have dulplications\ntuple cannot be mutatued\nlist can contain mix data types and can be mutated\ndictionary is also called key-value pair, or in javascript, its is called object\njson is another key-value pair example\n'

### numerical

In [276]:
a = 5
type (a)

int

In [277]:
b = 5.8
type(b)

float

In [278]:
int(b) # convert float b to integer b. and it floors the value

5

In [279]:
float(a) # conver integer a to float b. and it has a 0 as a decimal

5.0

### boolean

In [281]:
c = False

In [282]:
d = True

In [283]:
type(c)

bool

### sets

In [285]:
my_set = {1,2,3,4,4,5,1,2, "a", "b", "c", "a", 7, a, b, c, d}

In [286]:
type(my_set)

set

In [287]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'a', 'b', 'c'}

In [288]:
# question: what was the value of d
# value of d is true
# true = 1 and d and are treated the same in this instance

In [289]:
id(hash(d))

140722976336312

In [290]:
my_set.add("vanessa")

In [291]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'a', 'b', 'c', 'vanessa'}

In [292]:
my_set.pop()

'a'

In [293]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'b', 'c', 'vanessa'}

In [294]:
my_set.remove("vanessa")

In [295]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'b', 'c'}

In [296]:
my_set2 = {1,2,"k", "l","o"}

In [297]:
my_set.intersection(my_set2)

{1, 2}

In [298]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'b', 'c'}

### tuple

In [300]:
my_tuple = (1,2,3,4,4,5,1,2, "a", "b", "c", "a", 7, a, b, c, d)

In [301]:
my_tuple

(1, 2, 3, 4, 4, 5, 1, 2, 'a', 'b', 'c', 'a', 7, 5, 5.8, False, True)

In [302]:
# in sets what you give is not what you get.
# tuple will print every key value: what you give is what you get

In [303]:
my_tuple[10]

'c'

In [304]:
my_tuple.count(1)
# how many times the value of 1 apprears in my_tuple

3

In [305]:
my_tuple.index("a")
# index location of "a" appearing in my_tuple is 8

8

In [306]:
my_tuple2 = my_tuple +("vanessa", "charlie", 999)

In [307]:
my_tuple2

(1,
 2,
 3,
 4,
 4,
 5,
 1,
 2,
 'a',
 'b',
 'c',
 'a',
 7,
 5,
 5.8,
 False,
 True,
 'vanessa',
 'charlie',
 999)

print(my_tuple2)

### string

In [309]:
my_str = " python IS nice: % ^ @ 1 2 3  i like it "

In [310]:
type(my_str)

str

In [311]:
my_str.capitalize()

' python is nice: % ^ @ 1 2 3  i like it '

In [312]:
my_str.replace("e","k")

' python IS nick: % ^ @ 1 2 3  i likk it '

In [313]:
my_str.replace(" ", "") # a single space replaced with no spcae

'pythonISnice:%^@123ilikeit'

In [314]:
my_str.replace("  ", "") #double space replaced with no space

' python IS nice: % ^ @ 1 2 3i like it '

In [374]:
my_str.upper()

# there are some funtions that are in place = true by default
# what i mean by this is that the change you made is modifying the original
# in place = True is like you assign the result backt to itself

' PYTHON IS NICE: % ^ @ 1 2 3  I LIKE IT '

In [316]:
my_str.lower()

' python is nice: % ^ @ 1 2 3  i like it '

In [376]:
my_str.split()
# once I split my sting it becomes a list

['python', 'IS', 'nice:', '%', '^', '@', '1', '2', '3', 'i', 'like', 'it']

In [318]:
my_str.split(":")

[' python IS nice', ' % ^ @ 1 2 3  i like it ']

In [380]:
my_str.find("n")
# character n's index location is 6

6

In [388]:
my_str.strip()

'python IS nice: % ^ @ 1 2 3  i like it'

In [390]:
my_str.rstrip()
my_str.lstrip()
my_str.swapcase()
my_str.title()

' Python Is Nice: % ^ @ 1 2 3  I Like It '

### list

In [393]:
my_list = [1,2,3,4,'a','b','c','d','e']

In [395]:
type(my_list)

list

In [397]:
my_list

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'e']

In [403]:
my_list.pop()
# pop function in list is an inplace= True operaation

# even though I didn't assign it back to itself, it gave me the modified list
# what I mean by assigning back to itself is this: my_list = my_list.pop()

'd'

In [405]:
my_list

[1, 2, 3, 4, 'a', 'b', 'c']

In [407]:
my_list.index('a')

4

In [409]:
my_list.append('vanessa')

In [412]:
my_list

[1, 2, 3, 4, 'a', 'b', 'c', 'vanessa']

In [414]:
my_list.extend(['jack','charlie','julia'])

In [416]:
my_list

[1, 2, 3, 4, 'a', 'b', 'c', 'vanessa', 'jack', 'charlie', 'julia']

In [418]:
my_list.remove('jack')

In [420]:
my_list

[1, 2, 3, 4, 'a', 'b', 'c', 'vanessa', 'charlie', 'julia']

### dictionary

In [437]:
my_dict = {
    "jan": "julia",
    "feb": "charlie",
    "mar": "drew",
    "apr": "stacy"
}


"""

{
"firstname": "charlie",
"lastname": "benet",
"age": 9,
"school": ["abc primary school", "def secondary school", "kin high school"],
"grades": { "abc primary school":
            {"first grade":
                {"english class": 90,
                 "math class" : 100
                 }
            }
         },
                {"def secondary school":
                    {"fifth grade":
                    ( "english class": 70
                    }
                }
                }

SyntaxError: incomplete input (1506668993.py, line 9)

In [439]:
type(my_dict)

dict

In [441]:
my_dict

{'jan': 'julia', 'feb': 'charlie', 'mar': 'drew', 'apr': 'stacy'}

In [443]:
my_dict.keys()

dict_keys(['jan', 'feb', 'mar', 'apr'])

In [445]:
my_dict.values()

dict_values(['julia', 'charlie', 'drew', 'stacy'])

In [447]:
my_dict.items()

dict_items([('jan', 'julia'), ('feb', 'charlie'), ('mar', 'drew'), ('apr', 'stacy')])

In [449]:
my_dict["apr"]

'stacy'

### for loop

In [ ]:
"""
for x in iterable:
    condition(some code)

x is your iteration point; it is a placeholder
iterable is the thing you want to iterate through( some code is whatever you want to do)

for key, value in iterable:
    somecode

key and value are iteration points from dictionary
"""

In [452]:
range(5)

range(0, 5)

In [454]:
list(range(5))

[0, 1, 2, 3, 4]

In [456]:
for x in range(5):
    print(x)

0
1
2
3
4

In [458]:
city = "dallas"
for x in city:
    print(x)

d
a
l
l
a
s

## if else

In [ ]:
"""
if some conditon:
    some code
elif some other condition:
    some more code
else:
    some more more code

"""

In [465]:
x = 1
y = 10

if x == 1:
    print("yeah, x is 1")

yeah, x is 1

In [471]:
if x == 7:
    print("yeah, x is 1")
elif y == 11:
    print("y is 10")
else:
    print("all failed, I am here now")

all failed, I am here now

In [475]:
if x == 7:
    print("yeah, x is 1")
elif y == 11:
    print("y is 10")